version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "08:00"
      timezone: "Europe/Berlin"
    target-branch: "main"
    open-pull-requests-limit: 10
    labels:
      - "github dependency"
    reviewers:
      - "maximizeIT"
    commit-message:
      prefix: chore(deps)
    groups:
      ga-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "08:00"
      timezone: "Europe/Berlin"
    target-branch: "main"
    open-pull-requests-limit: 10
    labels:
      - "npm dependency"
    reviewers:
      - "maximizeIT"
    commit-message:
      prefix: chore(deps)
    groups:
      npm-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
